/* 来实现博客详情页的样式 */

.blog-content {
    padding: 20px;
}

.blog-content h3 {
    text-align: center;
    padding: 20px 0;
} 

.blog-content .data {
    color: rgb(0, 150, 0);
    text-align: center;
    padding: 10px 0;
}

.blog-content p {
    text-indent: 2em;
    padding: 5px 0;
}

